<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FilterProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcessingServlet</display-name>
    <servlet-name>ProcessingServlet</servlet-name>
    <servlet-class>com.lti.servlets.ProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessingServlet</servlet-name>
    <url-pattern>/servlet.view</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ReportingFilter</display-name>
    <filter-name>ReportingFilter</filter-name>
    <filter-class>com.lti.servlets.filter.ReportingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ReportingFilter</filter-name>
    <url-pattern>/reporting.do</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>ReportingFilter</filter-name>
    <url-pattern>/servlet.view</url-pattern>
  </filter-mapping>
</web-app>